.header{
    background-color: #fff;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
    &__call{
        font-size: 16px;
        font-weight: 700;
        padding: 15px 26px 15px 26px;
        border-radius: 30px;
        border: 1px solid #FBD846;
    }
}

.header__top{
    background-color: $color-yellow;
    &-inner{
        @extend %flex-row;
        padding: 15px 0;
    }
    &-adress{
        position: relative;
    }
    &-adress::before{
        content: '';
        position: absolute;
        background-image: url('@img/svg/map.svg');
        width: 12px;
        height: 16px;
        left: -15px;
    }
    &-phone{
        position: relative;
        font-size: 16px;
        font-weight: 600;
    }
    &-phone::before{
        content: '';
        position: absolute;
        background-image: url('@img/svg/phone-number.svg');
        width: 25px;
        height: 25px;
        left: -30px;
        top: -3px;
    }
}

.weather{
    &-search{
        background-color: #FBF0C4;
        padding: 5px;
        border-radius: 10px 0 0 10px;
        max-width: 150px;
    }
    &-submit{
        background-color: #DBC25E;
        padding: 5px;
        border-radius: 0 5px 5px 0;
        margin-left: -3px;
    }
    &-info{
        margin-top: 5px;
        margin-left: 5px;
    }
    &-temperature{
        display: flex;
        padding-right: 20px;
    }
    &-city{
        margin-right: 10px;
    }
    &-img{
        width: 40px;
        height: 40px;
        background: transparent;
    }
}

.header__menu{
    padding: 18px 0;
}

.header__menu-inner{
    @extend %flex-row;
}

.menu{
    &__list{
        display: flex;
        gap: 22px;
        font-weight: 600;
    }
    &__list-link{
        transition: all .3s;
    }
    &__list-link:hover{
        color: #99CB38;
    }
}