.top{
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__content{
        margin-top: 54px;
    }
    &__info{
        margin-bottom: 65px;
        max-width: 540px;
    }
    &__title{
        margin-bottom: 15px;
    }
    &__text{
        font-size: 18px;
        font-weight: 400;
    }
    &__services{
        gap: 45px 70px;
        max-width: 627px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    &__services-item{
        display: flex;
        align-items: center;
    }
    &__services-icon{
        margin-right: 10px;
    }
    &__services-text{
        min-width: 168px;
        font-size: 16px;
        font-weight: 500;
        text-transform: capitalize;
    }
    &__services-text span{
        font-size: 15px;
        font-weight: 400;
    }
    &__img{
        margin-right: -450px;
    }
    &__price{
        display: flex;
        align-items: center;
        padding-bottom: 70px;
    }
    &__price-link{
        margin-top: 15px;
        line-height: 63%;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        padding: 19px 65px 25px 90px;
        border-radius: 30px;
        background: linear-gradient(270deg, #FBD846 0.07%, #FFE888 99.89%);
        box-shadow: 10px 10px 20px 0px rgba(255, 216, 111, 0.40);
        margin-right: 30px;
    }
    &__price-info{
        text-align: center;
    }
    &__price-img{
        margin-bottom: 15px;
        text-align: center;
    }
    &__price-text{
        text-align: center;
        max-width: 255px;
        font-size: 16px;
        font-weight: 500;
        & span{
            font-size: 15px;
            font-weight: 400;
        }
    }
}

.constructor{
    background-image: url('@img/constructor-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    &__inner{
        padding-top: 100px;
        padding-bottom: 105px;
    }
    &__title{
        text-align: center;
        margin-bottom: 45px;
    }
    &__content{
        text-align: center;
        background-color: $color-yellow;
    }
    &__text{
        text-align: center;
        font-size: 20px;
        font-weight: 300;
        line-height: 30px;
        padding: 13px 90px 23px;
    }
}

.models{
    background: linear-gradient(90deg, #FFE472 0%, #F8CC55 100%, #FBD846 100%);
    &__title{
        margin-bottom: 46px;
        padding-top: 52px;
        text-align: center;
    }
    &__inner{
        display: flex;
        flex-wrap: wrap;
        gap: 20px 25px;
        margin-bottom: 47px;
    }
    &__column{
        max-width: 360px;
        transition: all .3s ease-out;
        border: 2px solid transparent;
        &:hover {
            border: 2px solid #99CB38;
        }
        &:hover .models__info-title{
            color: #99CB38;
        }
        &:hover .models__buy-add svg path{
           stroke: #fff;
        }
        &:hover .models__buy-add:before{
            background-color: #99CB38;
        }
    }
    &__item{
        background-color: #fff;
    }
    &__info{
        padding: 24px 25px 32px 29px;
        background-color: #fff;
        box-shadow: 5px 5px 10px 0px rgba(51, 51, 51, 0.05);
        height: 160px
    }
    &__info-title{
        transition: all .3s ease-out;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 22px;
    }
    &__buy{
        @extend %flex-row;
    }
    &__discount{
        color: #B2B2B2;
        font-size: 16px;
        font-weight: 600;
        text-decoration: line-through;
        margin-bottom: 6px;
    }
    &__price{
        color: #99CB38;
        font-size: 25px;
        font-weight: 600;
    }
    &__buy-add{
        position: relative;
        & svg{
            position: relative;
            z-index: 1;
        }
        &:before{
            transition: all .3s ease-out;
            content: '';
            position: absolute;
            width: 40px;
            height: 40px;
            background-color: #F4F4F4;
            border-radius: 50%;
            left: -45%;
            top: -40%;
        }
    }
    &__button{
        text-align: center;
        padding-bottom: 51px;
    }
    &__btn{
        display: inline-block;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        padding: 17px 64px 22px;
        border-radius: 30px;
        background: linear-gradient(270deg, #99CB38 0.07%, #C0F35B 99.89%);
        box-shadow: 10px 10px 20px 0px rgba(255, 216, 111, 0.40);
    }
}

.styles{
    margin: 69px 0 93px;
    &__info{
        text-align: center;
        margin-bottom: 43px;
    }
    &__title{
        text-transform: uppercase;
        margin-bottom: 26px;
    }
    &__text{
        color: #000;
        font-size: 20px;
        font-weight: 300;
        line-height: 30px;
    }
}

.tabs{
    margin-bottom: 63px;
    &__btns{
        display: flex;
        justify-content: space-between;
    }
    &__btns-inner{
        display: flex;
        flex-wrap: wrap;
        gap: 20px 30px;
        margin-bottom: 50px;
    }
    &__btns-title{
        font-size: 18px;
        font-weight: 600;
        line-height: 30px;
        color: #818181;
        flex-shrink: 0;
        margin-right: 30px;
    }
    &__btn{
        width: 160px;
        padding: 10px 2px;
        border-radius: 30px;
        background-color: #F5F5F5;
        color: #8C8C8C;;
    }
    &__active{
        color: $color-black;
        font-weight: 600;
        background-color: $color-yellow;
    }
    &__content-inner{
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
    }
    &__images{
        position: relative;
    }
    &__img-glass{
        position: absolute;
        right: 9px;
        bottom: 6px;
    }
}

.form__order{
    margin-bottom: 90px;
    &-inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 30px;
        background: #F5F5F5;
    }
    &-info{
        padding: 35px 0 20px;
        padding-left: 20px;
    }
    &-info-text{
        max-width: 700px;
    }
    &-title{
        margin-bottom: 15px;
        font-size: 22px;
        font-weight: 900;
        line-height: 35px;
        text-transform: uppercase;
    }
    &-text{
        margin-bottom: 35px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
    }
    &-inputs{
        max-width: 740px;
        display: flex;
        gap: 0 20px;
        margin-bottom: 25px;
    }
    &-input{
        width: 100%;
        padding: 19px 15px 22px;
        border-radius: 30px;
        border: 1px solid #B0B0B0;
    }
    &-send{
        display: flex;
        justify-content: space-between;
    }
    &-send-img{
        width: 100%;
        position: relative;
    }
    &-send-file{
        opacity: 0;
        visibility: hidden;
        position: absolute;
    }
    &-send-lable{
        display: flex;
        align-items: center;
    }
    &-send-lable-img{
        margin-right: 22px;
    }
    &-send-text{
        max-width: 262px;
        color: #737373;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
    }
    &-submit{
        margin-right: 15px;
    }
    &-btn{
        width: 360px;
        padding: 20px 59px;
        font-size: 20px;
        font-weight: 700;
        border-radius: 30px;
        background: linear-gradient(270deg, #FBD846 0.07%, #FFE888 99.89%);
        box-shadow: 5px 8px 5px 0px rgba(248, 204, 85, 0.10);
        margin-bottom: 10px;
    }
    &-submit-text{
        display: block;
        font-size: 10px;
        color: #737373;
        text-align: center;
    }
}

.quiz{
    background: linear-gradient(90deg, #FFE472 0%, #F8CC55 100%, #FBD846 100%);
    &__inner{
        padding: 60px 10px 22px;
    }
    &__info{
        background-color: #fff;
        padding: 22px 22px;
        margin-bottom: 40px;
        text-align: center;
    }
    &__title{
        margin-bottom: 15px;
    }
    &-present{
        justify-content: center;
        display: flex;
        align-items: center;
    }
    &__present-text{
        margin-left: 10px;
        font-size: 20px;
        font-weight: 300;
        line-height: 30px;
    }
    &__about{
        &-title{
            max-width: 360px;
            margin: 0 auto;
            background-color: #fff;
            padding: 23px 5px;
            text-align: center;
            font-size: 28px;
            font-weight: 900;
            line-height: 30px;
            margin-bottom: 36px;
            & span{
                color: #99CB38;
            }
        }
    }
    &__about-column{
        display: flex;
        gap: 0px 25px;
    }
    &__about-item{
        max-width: 262px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        text-align: center;
        padding: 35px 10px 15px;
        border-radius: 10px;
        background: #FFF;
        box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.10);
    }
    &__about-item-title{
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        // margin: 25px 2px;
    }
    &__about-item-text{
        font-size: 14px;
        font-weight: 400;
    }
}

.questions{
    position: relative;
    background-color: #fff;
    height: 560px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.10);
    margin-bottom: 23px;
    &__inner-start{
        display: flex;
    }
    &__about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        margin-left: 34px;
        padding-right: 80px;
    }
    &__about-counter{
        font-size: 22px;
        font-weight: 600;
        & span{
            color: #FBD846;
        }
    }
    &__about-counter{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    &__about-inner{
        position: relative;
        margin-bottom: 48px;
        &::before{
            position: absolute;
            content: '';
            background: #FBD846;
            width: 61px;
            height: 3px;
            top: 0;
        }
    }
    &__about-title{
        padding-top: 20px;
        font-size: 22px;
        font-weight: 800;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    &__about-subtitle{
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        & span{
            color: #99CB38;
            font-size: 18px;
            font-weight: 500;
        }
    }
    &__about-btn{
        width: 254px;
        font-size: 20px;
        font-weight: 500;
        border-radius: 30px;
        background: linear-gradient(270deg, #F8CC55 0.07%, #FFDD81 99.89%);
        box-shadow: 0px 4px 4px 0px rgba(248, 204, 85, 0.25);
        padding: 19px 30px 23px;
    }
}
 
  .question{
    &__inner{
        
        padding-bottom: 30px;
    }
    &__about{
        padding: 40px 95px 30px;       
        margin-left: 34px;
        padding-right: 80px;
    }
    &__about-counter{
        position: absolute;
        top: 40px;
        right: 40px;
        font-size: 22px;
        font-weight: 600;
        & span{
            color: #FBD846;
        }
    }
    &__form{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__title{
        text-align: center;
        font-size: 22px;
        font-weight: 800;
        margin-bottom: 53px;
    }
    &__radio {
        display: block;
        cursor: pointer;
    }
    &__radio-title{
        text-align: center;
        font-size: 20px;
        font-weight: 900;
        margin-bottom: 22px;
        margin-top: 13px;
    }
    &__radio__container{
        position: relative;
        border-radius: 10px;
        border: 3px solid #E6E6E6;
        height: 280px;
    }
    &__checkmark {
        position: absolute;
        top: 13px;
        left: 13px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.04);
      }
    &__radio input[type="radio"] {
        opacity: 0;
        width: 0;
        height: 0;
    }
    &__radio input[type="radio"]:checked + label .question__checkmark {
        background-color: #FBD846;
        border: 5px solid #fff;
    }
    &__radio input:checked + label .question__radio__container {
        border: 3px solid #FBD846;
    }
    &__radio label img {
        display: block;
        width: 100%;
        height: auto;
    }
    &__buttons{
        position: absolute;
        bottom: 30px;
        right: 20px;
        display: flex;
        margin-right: 25px;
        font-size: 20px;
        font-weight: 500;
    }
    &__btn-next{
        margin-left: 17px;
        border-radius: 30px;
        background: linear-gradient(270deg, #F8CC55 0.07%, #FFDD81 99.89%);
        box-shadow: 0px 4px 4px 0px rgba(248, 204, 85, 0.25);
        padding: 10px 42px;
    }
    &__range-inner{
        gap: 25px 0px;
    }
    &__range-item{
        margin-bottom: 30px;
    }
    &__range-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }
    &__range-title{
        font-size: 20px;
        font-weight: 700;
    }
    &__range-count{
        text-align: center;
        width: 70px;
        font-size: 18px;
        font-weight: 500;
        border-radius: 40px;
        border: 1px solid #C6C6C6;
        padding: 6px 18px;
    }
    &__range-input{
        width: 404px;
        height: 4px;
        -webkit-appearance: none;
        background-color: #DCDCDC;
        cursor: pointer;
        &::-webkit-slider-thumb{
            -webkit-appearance: none;
            background-color: #FBD846;
            width: 22px;
            height: 22px;
            border: 3px solid #fff;
            border-radius: 50%;
        }
    }
  }

.question{
    &__checkbox{
        max-width: 220px;
    }
    &__radio {
        display: block;
        cursor: pointer;
    }
    &__checkbox-title{
        margin-top: 12px;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
    }
    &__checkbox__container{
        position: relative;
        border-radius: 10px;
        border: 3px solid #E6E6E6;
        height: 250px;
    }
    &__checkmark-checkbox {
        position: absolute;
        top: 13px;
        left: 13px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.04);
      }
    &__checkbox input[type="checkbox"] {
        opacity: 0;
        width: 0;
        height: 0;
    }
    &__checkbox input[type="checkbox"]:checked + label .question__checkmark-checkbox {
        background-color: #FBD846;
        border: 5px solid #fff;
    }
    &__checkbox input:checked + label .question__checkbox__container {
        border: 3px solid #FBD846;
    }
    &__checkbox label img {
        display: block;
    }
}

.question{
    &__form-inner{
        gap: 50px 0px;
    }
    &__radio-budget{
        display: flex;
        align-items: center;
    }
    &__radio-budget-title{
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
    }
    &__radio {
        display: block;
        cursor: pointer;
    }
    &__radio-budget__container{
        position: relative;
        height: 60px;
        width: 440px;
        border-radius: 30px;
        border: 1px solid #C4C4C4;
        padding: 19px 10px 0px 67px;
    }
    &__checkmark {
        position: absolute;
        top: 13px;
        left: 13px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.04);
      }
    &__radio-budget input[type="radio"] {
        opacity: 0;
        width: 0;
        height: 0;
    }
    &__radio-budget input[type="radio"]:checked + label .question__checkmark {
        background-color: #FBD846;
        border: 5px solid #fff;
    }
    &__radio-budget input:checked + label .question__radio__container {
        border: 3px solid #FBD846;
    }
    &__radio-budget label img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.quiz__form{
    display: flex;
    align-items: end;
    &-inner{
        margin-left: 30px;
        max-width: 360px;
        margin-bottom: 45px;
    }
    &-title{
        text-align: center;
        font-size: 20px;
        font-weight: 800;
        line-height: 35px;
        text-transform: uppercase;
        margin-bottom: 18px;
    }
    &-inputs{
        display: flex;
        flex-direction: column;
        gap: 30px 0;
        margin-bottom: 30px;
    }
    &-input{
        width: 100%;
        padding: 15px 19px;
        border-radius: 30px;
        background: #F4F4F4;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.05);
    }
    &-submit{
        width: 100%;
        margin-bottom: 16px;
        font-size: 16px;
        font-weight: 400;
        padding: 18px 10px;
        border-radius: 30px;
        background: linear-gradient(270deg, #F8CC55 0.07%, #FFDD81 99.89%);
        box-shadow: 0px 4px 4px 0px rgba(248, 204, 85, 0.25);
    }
    &-agreement{
        text-align: center;
        display: block;
        color: #737373;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        font-variant: small-caps;
    }
}