.top{
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__content{
        margin-top: 54px;
    }
    &__info{
        margin-bottom: 65px;
        max-width: 540px;
    }
    &__title{
        margin-bottom: 15px;
    }
    &__text{
        font-size: 18px;
        font-weight: 400;
    }
    &__services{
        gap: 45px 70px;
        max-width: 627px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    &__services-item{
        display: flex;
        align-items: center;
    }
    &__services-icon{
        margin-right: 10px;
    }
    &__services-text{
        min-width: 168px;
        font-size: 16px;
        font-weight: 500;
        text-transform: capitalize;
    }
    &__services-text span{
        font-size: 15px;
        font-weight: 400;
    }
    &__img{
        margin-right: -450px;
    }
    &__price{
        display: flex;
        align-items: center;
        padding-bottom: 70px;
    }
    &__price-link{
        margin-top: 15px;
        line-height: 63%;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        padding: 19px 65px 25px 90px;
        border-radius: 30px;
        background: linear-gradient(270deg, #FBD846 0.07%, #FFE888 99.89%);
        box-shadow: 10px 10px 20px 0px rgba(255, 216, 111, 0.40);
        margin-right: 30px;
    }
    &__price-info{
        text-align: center;
    }
    &__price-img{
        margin-bottom: 15px;
        text-align: center;
    }
    &__price-text{
        text-align: center;
        max-width: 255px;
        font-size: 16px;
        font-weight: 500;
        & span{
            font-size: 15px;
            font-weight: 400;
        }
    }
}

.constructor{
    background-image: url('@img/constructor-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    &__inner{
        padding-top: 100px;
        padding-bottom: 105px;
    }
    &__title{
        text-align: center;
        margin-bottom: 45px;
    }
    &__content{
        text-align: center;
        background-color: $color-yellow;
    }
    &__text{
        text-align: center;
        font-size: 20px;
        font-weight: 300;
        line-height: 30px;
        padding: 13px 90px 23px;
    }
}

.models{
    background: linear-gradient(90deg, #FFE472 0%, #F8CC55 100%, #FBD846 100%);
    &__title{
        margin-bottom: 46px;
        padding-top: 52px;
        text-align: center;
    }
    &__inner{
        display: flex;
        flex-wrap: wrap;
        gap: 20px 25px;
        margin-bottom: 47px;
    }
    &__column{
        max-width: 360px;
        transition: all .3s ease-out;
        border: 2px solid transparent;
        &:hover {
            border: 2px solid #99CB38;
        }
        &:hover .models__info-title{
            color: #99CB38;
        }
        &:hover .models__buy-add svg path{
           stroke: #fff;
        }
        &:hover .models__buy-add:before{
            background-color: #99CB38;
        }
    }
    &__item{
        background-color: #fff;
    }
    &__info{
        padding: 24px 25px 32px 29px;
        background-color: #fff;
        box-shadow: 5px 5px 10px 0px rgba(51, 51, 51, 0.05);
        height: 160px
    }
    &__info-title{
        transition: all .3s ease-out;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 22px;
    }
    &__buy{
        @extend %flex-row;
    }
    &__discount{
        color: #B2B2B2;
        font-size: 16px;
        font-weight: 600;
        text-decoration: line-through;
        margin-bottom: 6px;
    }
    &__price{
        color: #99CB38;
        font-size: 25px;
        font-weight: 600;
    }
    &__buy-add{
        position: relative;
        & svg{
            position: relative;
            z-index: 1;
        }
        &:before{
            transition: all .3s ease-out;
            content: '';
            position: absolute;
            width: 40px;
            height: 40px;
            background-color: #F4F4F4;
            border-radius: 50%;
            left: -45%;
            top: -40%;
        }
    }
    &__button{
        text-align: center;
        padding-bottom: 51px;
    }
    &__btn{
        display: inline-block;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        padding: 17px 64px 22px;
        border-radius: 30px;
        background: linear-gradient(270deg, #99CB38 0.07%, #C0F35B 99.89%);
        box-shadow: 10px 10px 20px 0px rgba(255, 216, 111, 0.40);
    }
}

.styles{
    margin: 69px 0 93px;
    &__info{
        text-align: center;
        margin-bottom: 43px;
    }
    &__title{
        text-transform: uppercase;
        margin-bottom: 26px;
    }
    &__text{
        color: #000;
        font-size: 20px;
        font-weight: 300;
        line-height: 30px;
    }
}

.tabs{
    margin-bottom: 63px;
    &__btns{
        display: flex;
        justify-content: space-between;
    }
    &__btns-inner{
        display: flex;
        flex-wrap: wrap;
        gap: 20px 30px;
        margin-bottom: 50px;
    }
    &__btns-title{
        font-size: 18px;
        font-weight: 600;
        line-height: 30px;
        color: #818181;
        flex-shrink: 0;
        margin-right: 30px;
    }
    &__btn{
        width: 160px;
        padding: 10px 2px;
        border-radius: 30px;
        background-color: #F5F5F5;
        color: #8C8C8C;;
    }
    &__active{
        color: $color-black;
        font-weight: 600;
        background-color: $color-yellow;
    }
    &__content-inner{
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
    }
    &__images{
        position: relative;
    }
    &__img-glass{
        position: absolute;
        right: 9px;
        bottom: 6px;
    }
}